{# src/BlogDemoBundle/Resources/views/BlogDemo/voir.html.twig #}

{% extends "BlogDemoBundle::bundleLayout.html.twig" %}

{% block title %}
    Lecture d'un article  - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
    <p>
    {# On affiche tous les messages flash dont le nom est « info» #}
    {% for message in app.session.flashbag.get('info') %} <p>{{ message | upper }}</p>
    {% endfor %}
    </p>
    
    <h2>{{ article.titre }}</h2>
    <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>
    
    <div class="well">
    {{ article.contenu }}
    </div>
    
    <p>
        <a href="{{ path('sdzblog_accueil') }}" class="btn">
            <i class="icon-chevron-left"></i>Retour à la liste
        </a>
        <a href="{{ path('sdzblog_modifier', {'id': article.id}) }}" class="btn">
            <i class="icon-edit"></i>Modifier l'article
        </a>
        <a href="{{ path('sdzblog_supprimer', {'id': article.id}) }}" class="btn">
            <i class="icon-trash"></i>Supprimer l'article
        </a>
    </p>
{% endblock %}
